

<div class="row">
  <div class="large-4 columns">
    <div class="panel">
      <form>
        <h3>You</h3>
        Firstname and name: {{view 'autosave-text-field' valueBinding='name' modelBinding='model' placeholder='Firstname Name'}}<br>
        Email: {{view 'autosave-text-field' valueBinding='email' modelBinding='model' placeholder='Email'}}<br>
        Presentation: {{view 'autosave-text-area' valueBinding='presentation' modelBinding='model' placeholder='Short presentation of you'}}<br>
        Phone: {{view 'autosave-text-field' valueBinding='phone' modelBinding='model' placeholder='Phone'}}<br>
        Localisation: {{view 'autosave-text-area' valueBinding='localisation' modelBinding='model' placeholder='Address, Country'}}
      </form>
    </div>
  </div>
  <div class="large-8 columns">
    <div class="panel">
      <form>
        <h3>Your skills</h3>
        {{#each skill in savedSkills}}
          {{view 'autosave-text-area' valueBinding='skill.title' modelBinding='skill' placeholder='Describe your skill'}}<br>
        {{/each}}
 {{!--        {{view 'new-skill' userBinding='model'}} --}}
      </form>
    </div>
  </div>
</div>
