{{#if session.isAuthenticated}}
  <button {{ action 'invalidateSession' }}>Logout</button>
{{else}}
  {{#link-to 'login'}}Sign in{{/link-to}}
  {{#link-to 'signup'}}Sign up{{/link-to}}
{{/if}}

<h2 id='title'>Welcome to Chaos</h2>

{{link-to 'Vehicles' 'vehicles'}}
{{link-to 'Skills' 'skills'}}
{{link-to 'About' 'about'}}
{{link-to 'Experts' 'experts'}}
{{#if session.isAuthenticated}}
	{{link-to 'Account' 'account'}}
{{/if}}

{{outlet}}

