<div class="form">
  <h3>Prestation: {{view.service}} </h3> </a><button>Invoice</button><button>Garantie</button><br>
  <a>Fait le {{view.dateOfExecution}} par {{view.serviceProvider}}</a><br>
  <a>Prochaine prestation à prévoir le {{view.expectedDateOfExecution}}</a><br>  
  <a>En attendant, suivez nos conseils : {{view.advise}}</a><br>
  <a>Voir votre facture {{view.service}} du {{view.dateOfExecution}}<br>
  <a>Les offres actuels: {{view.offer}}</a><br>
</div>