      <form class="panel">
        <h3>New vehicle</h3>
          <div class="row">
            <div class="large-12 columns">
              <label>Vehicle nickname
                {{input value=name type="text" placeholder="Enter the nickname of your vehicle"}}
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>Type
                <select>
                  <option>{{input value=kind text="car"}}</option>
                  <option value="Motorbike">Motorbike</option>
                  <option value="Bike">Bike</option>
                </select>
              </label>
            </div>
          </div>

          <div class="row">
            <div class="large-6 columns">
              <label>Brand
                {{input value=brand placeholder="Brand"}}
              </label>
            </div>
            <div class="large-6 columns">
              <label>Car model
                {{input value=carModel placeholder="Enter the model of your vehicle"}}
              </label>
            </div>
          </div>

          <button {{action "createNewVehicle"}}>Confirm</button>
          <p>{{error}}</p>
      </form>

