<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a>Vehicle ID</a>
    <div id="panel1" class="content active">
      <div class="panel">
        <form>
          Nickname of your vehicle: {{view 'autosave-text-field' valueBinding='name'}}<br>
          Type: {{view 'autosave-text-field' valueBinding='kind'}}<br>
          Brand: {{view 'autosave-text-field' valueBinding='brand'}}<br>
          Model: {{view 'autosave-text-field' valueBinding='carModel'}}<br>
          <button {{action "deleteVehicle"}}> Delete this vehicle </button>   
        </form>
      </div>
    </div>
  </dd>
  <dd class="accordion-navigation">
    <a>Historique</a>
    <div id="panel2" class="content active">
      {{view "vehicle-history"}}
    </div>
  </dd>
  <dd class="accordion-navigation">
    <a>Garantie</a>
    <div id="panel3" class="content active">
      Retrouver les garanties valables sur votre réparation
    </div>
  </dd>
</dl>

